
<div class="row col-xs-12 center-block">
    <div class="page-header col-xs-8 col-xs-offset-2">
      <p class="lead"><strong>{{ _("You must accept the new terms of use before continuing.") }}</strong></p>
    </div>

    <div class="col-xs-8 col-xs-offset-2" id="tou-text">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ tou_text }}
            </div>
        </div>
    </div>

    <form name="tou-form" id="tou-form" method="POST" action="#" class="form-inline">
        <div id="tou-form-buttons" class="form-group">
            <div class="input-group">
                <div class="col-xs-12 col-sm-6">
                    <input class="btn btn-success" type="submit" name="accept" id="accept" value="{{ _('accept') }}">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="btn btn-danger" type="submit" name="reject" id="reject" value="{{ _('reject') }}">
                </div>
            </div>
        </div>
    </form>
</div>
