
<form name="tou-form" id="tou-form" method="POST" action="#">

    <div id="tou-text">
        <pre>
        {{ tou_text }}
        </pre>
    </div>

    <div id="tou-form-buttons">
        <input type="submit" name="accept" id="accept" value="{{ _('accept') }}">
        <input type="submit" name="reject" id="reject" value="{{ _('reject') }}">
    </div>

</form>
